body {
  background-image: url(./image/—Pngtree—black\ brick\ wall_989135.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: white;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 50px;
  background-color: rgb(196, 196, 196);
  height: fit-content;
  border: solid 5px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.boxes {
  display: flex;
}

.box {
  width: 250px;
  height: 250px;
  /* background-color: white;
    border-radius: 20px;
    margin: 10px; */
  background-image: url(./image/—Pngtree—note\ tape\ memo\ blank\ paper_5809777.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#input-text{
  position: relative;
  top: 75px;
  left: 15px;
  width: 210px;
  height: 100px;
  resize: none;
}

.form{
  border: solid 5px;
  padding: 5px;
}

/* #contact-form {
 padding: 10px;
} */